/* css */
html {
    margin: 0;
    padding: 0;
    text-align: center;
    background: whitesmoke;
    font-family: Courier, Monaco, monospace;
}

#calculator-body {
    width:400px;
    height:500px;
    border:1px solid rgb(158, 144, 144);
    border-radius: 4px;
    margin:0 auto;
    background:#111111;
}

.calc-visor {
    background:#0e1111;
    width: 400px;
    height:75px;
}

.monitor {
    color:whitesmoke;
    padding:25px;
    font-size:25px;
    background: -webkit-linear-gradient(whitesmoke, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons {
    display:flex;
    flex-wrap: wrap;
    height:400px;
}

.btn {
    width:100px;
    height:80px;  
    color: #c4b2b2;
    background: #414a4c; 
    border:1px solid grey;    
}

.btn:hover{
    width:100px;
    height:80px;  
    color: black;
    background: wheat; 
    border:1px solid grey;    
}

.equals {
    align-items: flex-end;
}

.clear, .percentage, .div, .add, .mult, .sub, .equals, .decimal {
    background: #66545e;
}

.zero {
    width:300px;
}

.zero:hover {
    width:300px;
    background: wheat; 
}